extends layout

block content
  h1= article.country
  h5 Written by #{author} 
  p= article.body
  ul.list-group
    li.list-group-item GOLD: #{article.gold}
    li.list-group-item SILVER: #{article.silver}
    li.list-group-item BRONZE: #{article.bronze}
  hr
  if user
    if user.id ==article.author
      a.btn.btn-default(href='/articles/edit/'+article._id) Edit 
      a.btn.btn-danger.delete-article(href='#',data-id=article._id) Delete
  
