extends layout

block content
  h1 #{title}
  //- ul.list-group
  //-   each article, i in articles
  //-     li.list-group-item
  //-       a(href="/articles/"+article._id)= article.country

  table.table.table-bordered
    thead
      tr
        th.tb-col-1 COUNTRY
        th.tb-col-2 GOLD
        th.tb-col-2 SILVER
        th.tb-col-2 BRONZE
    tbody
      each article, i in articles
        tr
          td
            a(href="/articles/"+article._id)= article.country
          td= article.gold
          td= article.silver
          td= article.bronze
